<p>
  <strong>Texto:</strong>
  <%= @pregunta.texto %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @pregunta.image %>
</p>

<p>
  <strong>Respuesta 1 (correcta):</strong>
  <%= @pregunta.respuesta1 %>
</p>

<p>
  <strong>Respuesta 2 (incorrecta):</strong>
  <%= @pregunta.respuesta2 %>
</p>

<p>
  <strong>Respuesta 3 (incorrecta):</strong>
  <%= @pregunta.respuesta3 %>
</p>


<p>
  <strong>Respuesta 4 (incorrecta):</strong>
  <%= @pregunta.respuesta4 %>
</p>

<p>
  <strong>Tiempo de pregunta:</strong>
  <%= @pregunta.tiempo %>
</p>
