<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">
          <%= render_breadcrumbs :separator => ' / ' %>
    <h1><%= @saludo %></h1>
        <h1><%= $usuarioNombre %></h1>


  </div>
</div>

<%= link_to "<button>Preguntas</button>".html_safe, "pregunta/" %>
<br>
<br>
<%= link_to "<button>Quizzes</button>".html_safe, "quizz/" %>
<br>
<br>
<%= link_to "<button>Temas</button>".html_safe, "tema/" %>
<br>
<br>
<%= link_to "<button>Temarios</button>".html_safe, "admin/usuarios" %>
<br>
<br>
