<h1>Gestión de Respuestas</h1>

<table width="100%">


  <tr>
    <td>

<%= high_chart_globals(@chart_globals) %>
      <%= high_chart("some_id", @chart2) %>
    </td>


    <td>
<%= high_chart_globals(@chart_globals) %>
      <%= high_chart("some_id2", @chart3) %>

    </td>

  </tr>

  

  <tr>


    <td>

<%= high_chart_globals(@chart_globals) %>

     <%= high_chart("some_id3", @chart4) %>

    </td>
    <td>

<%= high_chart_globals(@chart_globals) %>

     <%= high_chart("some_id4", @chart4) %>

    </td>
  </tr>
</table>
