<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">
    <h1><%= @saludo %></h1>
        <h1><%= $usuarioNombre %></h1>
        <br>
        <h1>Gesti贸n de Quizzes</h1>
        <br>
  <%= link_to "<button>Ver Grupo</button>".html_safe, "maestro/grupo" %>

  </div>
</div>
<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;

border-style:solid;

}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;

border-style:solid;
padding:3px;
}

table.GeneratedTable thead {

}
</style>

<!-- HTML Code -->
<table class="GeneratedTable">
<thead>
  <tr>
  <th>Estatus</th>
  <th>Nombre</th>
  <th>Tema</th>
  <th>Fecha de inicio</th>
  <th>Resultados</th>
  <th>Nivel de Aprobaci贸n</th>
  <th>Ver Quizz</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Terminado</td>
  <td>Introducci贸n</td>
  <td>1</td>
  <td>30/08/16 10:00 am</td>
  <td><%= link_to 'Resultados', :action => :gestion %></td>
  <td>95%</td>
  <td>Ver</td>

  </tr>
  <tr>
  <td><%= link_to 'No Iniciado', {:action => :gestion}, data: {title:' Activar',confirm: 'Estas seguro de querer activar este quiz?',cancel:'Cancelar', commit: 'Confirmar'} %></td>
  <td>Introducci贸n</td>
  <td>1</td>
  <td> </td>
  <td></td>
  <td></td>
  <td>Ver</td>

  </tr>
</tbody>
</table>
