
<h1><%= @usuario%></h1>
<h1><%= @contraseña%></h1>
<h1><%= @tokencreado%></h1>

<h1><%= @userid%></h1>

<h1><%= @usernomnbre%></h1>
<h1><%= @cursos[0]%></h1>


<h1> <%=   @indice%></h1>

<br>
<br>
<h1> <%=   @otro%></h1>
